.titulo{
    text-align: center;
}
.mostruario{
    text-align: center;
}
.botao{
    height: 1.5rem;
    width: 1.5rem;
    background-color: green;
}
.botaoRed{
    height: 2rem;
    width: 2rem;
    background-color: red;
}
.botaoBlue{
    height: 2rem;
    width: 4rem;
    background-color: blue;
}
.botaoCor{
    height: 2rem;
    width: 2rem;
    top: 10%;
    left: 5%;
    position: absolute;
}
.botaoMudarCor{
    height: 2rem;
    width: 6rem;
    top: 16%;
    left: 2.6%;
    position: absolute;
}
.caixaTexto{
    text-align: center;
    
}
.caixaNumero{
    width: 3rem;
    text-align: center;
}
.gerenciador{
    text-align: center;
}
.ButtonRemove{
    text-align: center;
}
.caixa{
    position: absolute;
    width: 3rem;
}
.comfirmar{
    left: 20%;
    background-color: green;
}
.buttonMudar{
    background-color: rgba(80, 80, 252, 0.616);
}
.buttonRemover{
    background-color: rgba(253, 48, 48, 0.596);
    margin-left: 300PX;
    margin-top: -7PX;
}
.TextoProduto{
    margin-top: -15px;
}