.titulo{
    text-align: center;
}
.mostruario{
    text-align: center;
}
.botao{
    height: 2rem;
    width: 2rem;
    background-color: green;
}
.botaoRed{
    height: 2rem;
    width: 2rem;
    background-color: red;
}
.botaoBlue{
    height: 2rem;
    width: 4rem;
    background-color: blue;
}
.botaoCor{
    height: 2rem;
    width: 2rem;
    top: 10%;
    left: 5%;
    position: absolute;
}
.botaoMudarCor{
    height: 2rem;
    width: 6rem;
    top: 16%;
    left: 2.6%;
    position: absolute;
}
.caixaTexto{
    text-align: center;
    
}
.caixaNumero{
    width: 3rem;
    text-align: center;
}
.gerenciador{
    text-align: center;
}
.ButtonRemove{
    width: 4rem;
    height: 2rem;
    position: absolute;
}